{% extends 'core/base.html' %}

{% block container %}
  <div class="col-sm-6 offset-sm-3">
    <h1 class="my-3">TODO LIST</h1>
<!--      if category is given is shows tasks under this category-->
      {% if category %}
         <h2 class="fs-4">Category: {{ category }}</h2>
      {% endif %}
    <div class="list-group">
          {% for todo in queryset %}
            <a href="{% url 'detail' id=todo.pk %}" class="list-group-item list-group-item-action"> {{ todo.title }}</a>
<!--            <a href="{{ category.absolute_url }}" class="list-group-item list-group-item-action"> {{ todo.title }}</a>-->
          {% endfor %}
    </div>
  </div>
{% endblock container %}
