{% extends 'core/base.html' %}

{% block container %}
<!--When Press the button it will return to home page-->
<!--/ is Home page path-->
  <a href="/" class="btn btn-outline-info">Home Page</a>
  <div class="col-sm-6 offset-sm-3">
    <h1 class="my-3">{{query.title }}</h1>
      <p>
        {{query.content}}
      </p>
    <ul>
      <li>
        Start Time: {{query.date_started}}
      </li>
      <li>
        Updated Time: {{query.updated_at}}
      </li>
    </ul>
  </div>

{% endblock container %}
