{% extends 'core/base.html' %}

{% block container %}
  <div class="col-sm-6 offset-sm-3 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title my-3">{{query.title }}</h5>
        <h6 class="card-subtitle my-3 text-body-secondary">{{ query.category }}</h6>
        <p class="card-text my-3">{{query.content}}</p>
        <ul class="list-unstyled">
          <li><small>Start Time: {{query.date_started|date:"d/m/Y H:s" }}</small></li>
          <li><small>Updated Time: {{query.updated_at|date:"d/m/Y H:s" }}</small></li>
        </ul>
        <ul class="list-inline">
          <li class="list-inline-item">
            {% for item in todo.tag.all %}
              <span class="badge rounded-pill text-bg-primary">Secondary</span>
            {% endfor %}
          </li>
        </ul>
        <a href="/" class="card-link btn-outline-info text-body-secondary">Home Page</a>
      </div>
    </div>
  </div>

{% endblock container %}
